#catHidden, #dogHidden, #reptileHidden, #showPet {
  display: none;
}
.petSelectButtons, .panel {
  display: block;
  text-align: center;
}
.jumbotron {
  display: block;
  text-align: center;
}
.panel {
  margin-left: auto;
  margin-right: auto;
}

.clicky {
  color: blue;
}

.clicky:hover {
  text-decoration: underline;
  cursor: pointer;
}
